# Node
**/node_modules
**/dist
**/.next
**/.turbo
**/.vercel

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# Env files
**/.env*
**/.env.*.local

# IDE
.idea/
.DS_Store

# OS
Thumbs.db
ehthumbs.db
Desktop.ini

# Build output
**/build
**/coverage

# Docker
**/docker-compose.override.yml

# Prisma
**/prisma/dev.db
**/prisma/dev.db-journal
